// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.5\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Square",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "Blank",
  "info3Label": "Blank",
  "info4Label": "Location",
  "sizePercent": "26",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "false",
  "showReticle": "false",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "false",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "false",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "false",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.6"
}