// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.5\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "showKeys": "false",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "false",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "true",
  "showPlayers": "false",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.6"
}